
    <div class="modal-content">
      <div class="modal-header dialog-header-confirm btn-danger">
        <button type="button" 
                    class="close" 
                    ng-click="closeDeleteModal()"
                    data-dismiss="modal" 
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">User Delete Confirm</h4>
      </div>
       <div class="modal-body touch-scroll " >
	  <form role="form" name="deleteNominationForm" novalidate >    
           <div class="form-horizontal " style="padding:0px" >
		   
			
			
				 <div class="form-group" style="padding:10px">
                  Are you sure you want to delete this profile <b>{{deletepro.firstName}}</b>?


                </div>
         
		 
				
           	</div>
 
		  </div>
       
      <div class="modal-footer ">
	     <button   class="btn btn-cmd btn-danger"  ng-click="closeDeleteModal()">Cancel</button>
	     <button   class="btn btn-cmd btn-success"  disable-double-click  ng-click="deleteNominationForm.$valid && delete(deletepro)"
                    ng-disabled="deleteNominationForm.$invalid"  >Delete</button>
		
        
      </div>
	    </form>
    </div>