<div class="nav-wrapper">
   <ul  id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
		data-color="#fff"
		data-always-visible="true"
        data-collapse-nav style="text-align:center;">
       
       <li>
		   <a href="#/components/dashboard/views/dashboard-v1"> <i class="fas fa-home mr-5"></i><span data-i18n="Dashboard"></span> </a>          
		</li>
      
        <li class="divider"></li>
        <li class="nav-title" data-i18n="Services"> </li>
		<li>
            <a href="#/components/user/views/user-profiles"><i class="fas fa-users mr-5"></i><span data-i18n="Users"></span></a>
           
        </li>
		
		<!-- <li>
            <a href="#/components/user/views/add-user"><i class="fas fa-plus mr-5"></i><span data-i18n="Add User"></span></a>
           
        </li>

        
		<li>
            <a href="#/components/user/views/update-user"><i class="fas fa-edit mr-5"></i><span data-i18n="Update User"></span></a>
           
        </li>      -->
</div>