
<!-- Page Header Start -->
<div class="pageheader">
  <h2><i class="fa fa-home"></i>Dashboard </h2>
  <div class="breadcrumb-wrapper hidden-xs"> 
    <ol class="breadcrumb">
      
    </ol>
  </div>
</div>
<!-- Page Header End -->

<div class="page" data-ng-controller="DashboardController" ng-init="getUserCount()">
 <div class="col-md-12">
 
 
 
 <div class="row">
  
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
      <div class="widgetbox widgetbox-default widgetbox-item-icon">
        <div class="widgetbox-item-left widgetbox-icon-success"> <span class="fa fa-users"></span> </div>
        <div class="widgetbox-data">
          <div class="widgetbox-int"><sapn ng-click="" >{{usercount}}</span></div>
          <div class="widgetbox-title">Total Users</div>
          <div class="widgetbox-subtitle">in your orgnization</div>
        </div>
      </div>
    </div>
	

		
	 

  </div> 
  
  </div>




 
  
 </div>
 
 

